wsdl/bankvalintl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.levelsoft.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.levelsoft.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Levelsoft BusTools BankValIntl.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.levelsoft.net/">
      <s:element name="ValidateIBAN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateIBANResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateIBANResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateBIC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateBICResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateBICResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCallPermssion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="member" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:UserCredentials" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCallPermssionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCallPermssionResult" type="tns:AuthoriseType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AuthoriseType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Denied" />
          <s:enumeration value="Open" />
          <s:enumeration value="SuperRole" />
          <s:enumeration value="SubscribedRole" />
          <s:enumeration value="SuperDemoRole" />
          <s:enumeration value="SubscribedDemoRole" />
          <s:enumeration value="SubscribedByHit" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SEKHeader" type="tns:SEKHeader" />
      <s:complexType name="SEKHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SEK" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateIBANSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIBAN" />
  </wsdl:message>
  <wsdl:message name="ValidateIBANSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIBANResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateBICSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateBIC" />
  </wsdl:message>
  <wsdl:message name="ValidateBICSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateBICResponse" />
  </wsdl:message>
  <wsdl:message name="GetCallPermssionSoapIn">
    <wsdl:part name="parameters" element="tns:GetCallPermssion" />
  </wsdl:message>
  <wsdl:message name="GetCallPermssionSoapOut">
    <wsdl:part name="parameters" element="tns:GetCallPermssionResponse" />
  </wsdl:message>
  <wsdl:message name="GetCallPermssionSEKHeader">
    <wsdl:part name="SEKHeader" element="tns:SEKHeader" />
  </wsdl:message>
  <wsdl:portType name="BankValIntlSoap">
    <wsdl:operation name="ValidateIBAN">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate an IBAN (International Bank Account Number) number.</wsdl:documentation>
      <wsdl:input message="tns:ValidateIBANSoapIn" />
      <wsdl:output message="tns:ValidateIBANSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateBIC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate a SWIFT BIC (Bank Identifier Code) number.</wsdl:documentation>
      <wsdl:input message="tns:ValidateBICSoapIn" />
      <wsdl:output message="tns:ValidateBICSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCallPermssion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Queries whether there is available credit to successfully query the service.</wsdl:documentation>
      <wsdl:input message="tns:GetCallPermssionSoapIn" />
      <wsdl:output message="tns:GetCallPermssionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankValIntlSoap" type="tns:BankValIntlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateIBAN">
      <soap:operation soapAction="http://ws.levelsoft.net/ValidateIBAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateBIC">
      <soap:operation soapAction="http://ws.levelsoft.net/ValidateBIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallPermssion">
      <soap:operation soapAction="http://ws.levelsoft.net/GetCallPermssion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCallPermssionSEKHeader" part="SEKHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankValIntlSoap12" type="tns:BankValIntlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateIBAN">
      <soap12:operation soapAction="http://ws.levelsoft.net/ValidateIBAN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateBIC">
      <soap12:operation soapAction="http://ws.levelsoft.net/ValidateBIC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallPermssion">
      <soap12:operation soapAction="http://ws.levelsoft.net/GetCallPermssion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCallPermssionSEKHeader" part="SEKHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankValIntl">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Levelsoft BusTools BankValIntl.</wsdl:documentation>
    <wsdl:port name="BankValIntlSoap" binding="tns:BankValIntlSoap">
      <soap:address location="http://ws.srlink.com/BusTools/BankValIntl.asmx" />
    </wsdl:port>
    <wsdl:port name="BankValIntlSoap12" binding="tns:BankValIntlSoap12">
      <soap12:address location="http://ws.srlink.com/BusTools/BankValIntl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>