wsdl/braille.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="BrailleText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TextFontSize" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrailleTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BrailleTextResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BrailleTextSoapIn">
    <wsdl:part name="parameters" element="tns:BrailleText" />
  </wsdl:message>
  <wsdl:message name="BrailleTextSoapOut">
    <wsdl:part name="parameters" element="tns:BrailleTextResponse" />
  </wsdl:message>
  <wsdl:message name="BrailleTextHttpGetIn">
    <wsdl:part name="InText" type="s:string" />
    <wsdl:part name="TextFontSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BrailleTextHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="BrailleTextHttpPostIn">
    <wsdl:part name="InText" type="s:string" />
    <wsdl:part name="TextFontSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BrailleTextHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="BrailleSoap">
    <wsdl:operation name="BrailleText">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Convert TEXT to Braille</documentation>
      <wsdl:input message="tns:BrailleTextSoapIn" />
      <wsdl:output message="tns:BrailleTextSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BrailleHttpGet">
    <wsdl:operation name="BrailleText">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Convert TEXT to Braille</documentation>
      <wsdl:input message="tns:BrailleTextHttpGetIn" />
      <wsdl:output message="tns:BrailleTextHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BrailleHttpPost">
    <wsdl:operation name="BrailleText">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Convert TEXT to Braille</documentation>
      <wsdl:input message="tns:BrailleTextHttpPostIn" />
      <wsdl:output message="tns:BrailleTextHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrailleSoap" type="tns:BrailleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="BrailleText">
      <soap:operation soapAction="http://www.webserviceX.NET/BrailleText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BrailleHttpGet" type="tns:BrailleHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="BrailleText">
      <http:operation location="/BrailleText" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BrailleHttpPost" type="tns:BrailleHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="BrailleText">
      <http:operation location="/BrailleText" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Braille">
    <wsdl:port name="BrailleSoap" binding="tns:BrailleSoap">
      <soap:address location="http://www.webservicex.net/braille.asmx" />
    </wsdl:port>
    <wsdl:port name="BrailleHttpGet" binding="tns:BrailleHttpGet">
      <http:address location="http://www.webservicex.net/braille.asmx" />
    </wsdl:port>
    <wsdl:port name="BrailleHttpPost" binding="tns:BrailleHttpPost">
      <http:address location="http://www.webservicex.net/braille.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>