wsdl/hashclass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/HashService/HashClass" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/HashService/HashClass" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/HashService/HashClass">
      <s:element name="HashString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HashType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HashStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HashStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OriginalString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HashString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HashType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckHashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckHashResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HashStringSoapIn">
    <wsdl:part name="parameters" element="tns:HashString" />
  </wsdl:message>
  <wsdl:message name="HashStringSoapOut">
    <wsdl:part name="parameters" element="tns:HashStringResponse" />
  </wsdl:message>
  <wsdl:message name="CheckHashSoapIn">
    <wsdl:part name="parameters" element="tns:CheckHash" />
  </wsdl:message>
  <wsdl:message name="CheckHashSoapOut">
    <wsdl:part name="parameters" element="tns:CheckHashResponse" />
  </wsdl:message>
  <wsdl:portType name="HashClassSoap">
    <wsdl:operation name="HashString">
      <wsdl:input message="tns:HashStringSoapIn" />
      <wsdl:output message="tns:HashStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckHash">
      <wsdl:input message="tns:CheckHashSoapIn" />
      <wsdl:output message="tns:CheckHashSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HashClassSoap" type="tns:HashClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="HashString">
      <soap:operation soapAction="http://tempuri.org/HashService/HashClass/HashString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckHash">
      <soap:operation soapAction="http://tempuri.org/HashService/HashClass/CheckHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HashClass">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="HashClassSoap" binding="tns:HashClassSoap">
      <soap:address location="http://www.bs-byg.dk/hashclass.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>