wsdl/stockquotes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://swanandmokashi.com" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://swanandmokashi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://swanandmokashi.com">
      <s:element name="GetQuotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteTicker" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuotesResult" type="tns:ArrayOfQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Quote" type="tns:Quote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Quote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockTicker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockQuote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastUpdated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Change" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OpenPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DayHighPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DayLowPrice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Volume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketCap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearRange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExDividendDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DividendYield" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DividendPerShare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentChange" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfQuote" nillable="true" type="tns:ArrayOfQuote" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuotesSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="GetQuotesSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpGetIn">
    <wsdl:part name="QuoteTicker" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfQuote" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpPostIn">
    <wsdl:part name="QuoteTicker" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuotesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfQuote" />
  </wsdl:message>
  <wsdl:portType name="StockQuotesSoap">
    <wsdl:operation name="GetStockQuotes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves the latest(20 minutes delay) stock quote of a stock ticker. To get multiple quotes enter Ticker symbols seperated by ,(eg. MSFT,YHOO,GE) or space (eg. MSFT YHOO GE). &lt;BR&gt;Gives the company name ,ticker,Stock Quote, Change,Open price ,Day's range(high and low),Volume, the Market Cap and the Year range of the stock price.&lt;BR&gt;&lt;B&gt;Powered by Yahoo!'s stock Quotes service.Not for commerical use.&lt;/b&gt;</documentation>
      <wsdl:input name="GetQuotes" message="tns:GetQuotesSoapIn" />
      <wsdl:output name="GetQuotes" message="tns:GetQuotesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuotesHttpGet">
    <wsdl:operation name="GetStockQuotes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves the latest(20 minutes delay) stock quote of a stock ticker. To get multiple quotes enter Ticker symbols seperated by ,(eg. MSFT,YHOO,GE) or space (eg. MSFT YHOO GE). &lt;BR&gt;Gives the company name ,ticker,Stock Quote, Change,Open price ,Day's range(high and low),Volume, the Market Cap and the Year range of the stock price.&lt;BR&gt;&lt;B&gt;Powered by Yahoo!'s stock Quotes service.Not for commerical use.&lt;/b&gt;</documentation>
      <wsdl:input name="GetQuotes" message="tns:GetQuotesHttpGetIn" />
      <wsdl:output name="GetQuotes" message="tns:GetQuotesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuotesHttpPost">
    <wsdl:operation name="GetStockQuotes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves the latest(20 minutes delay) stock quote of a stock ticker. To get multiple quotes enter Ticker symbols seperated by ,(eg. MSFT,YHOO,GE) or space (eg. MSFT YHOO GE). &lt;BR&gt;Gives the company name ,ticker,Stock Quote, Change,Open price ,Day's range(high and low),Volume, the Market Cap and the Year range of the stock price.&lt;BR&gt;&lt;B&gt;Powered by Yahoo!'s stock Quotes service.Not for commerical use.&lt;/b&gt;</documentation>
      <wsdl:input name="GetQuotes" message="tns:GetQuotesHttpPostIn" />
      <wsdl:output name="GetQuotes" message="tns:GetQuotesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuotesSoap" type="tns:StockQuotesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetStockQuotes">
      <soap:operation soapAction="http://swanandmokashi.com/GetQuotes" style="document" />
      <wsdl:input name="GetQuotes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetQuotes">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesHttpGet" type="tns:StockQuotesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetStockQuotes">
      <http:operation location="/GetQuotes" />
      <wsdl:input name="GetQuotes">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="GetQuotes">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuotesHttpPost" type="tns:StockQuotesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetStockQuotes">
      <http:operation location="/GetQuotes" />
      <wsdl:input name="GetQuotes">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="GetQuotes">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuotes">
    <wsdl:port name="StockQuotesSoap" binding="tns:StockQuotesSoap">
      <soap:address location="http://www.swanandmokashi.com/HomePage/WebServices/StockQuotes.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuotesHttpGet" binding="tns:StockQuotesHttpGet">
      <http:address location="http://www.swanandmokashi.com/HomePage/WebServices/StockQuotes.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuotesHttpPost" binding="tns:StockQuotesHttpPost">
      <http:address location="http://www.swanandmokashi.com/HomePage/WebServices/StockQuotes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>